body {
	font-family: Helvetica, sans-serif;
}

.my-app-wrapper {
	max-width: 600px;
	margin: 40px auto;
}

.my-app {
	max-width: 600px;
	margin: 40px auto;
	padding: 25px;
	border: 2px solid #888888;
	border-radius: 10px;
	margin-bottom: 10px;
	background: rgb(238, 174, 202);
	background: linear-gradient(
		147deg,
		rgb(185, 139, 241) 0%,
		rgba(238, 240, 242, 1) 100%
	);
}
h1 {
	color: #4a4a4a;
	font-size: 24px;
	font-weight: 100;
	line-height: 28px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;

	margin: 0;
	padding: 0;

	color: #4a4a4a;
	font-size: 16px;
	font-weight: 100;
	line-height: 18px;
	text-transform: capitalize;
}

li:first-letter {
	text-transform: capitalize;
}

.weather-temp img {
	margin-right: 5px;
	height: 64px;
	width: 64px;
}
.weather-temp strong {
	color: #333333;
	font-size: 64px;
	font-weight: 400;
	line-height: 1;
}
.weather-temp .units {
	position: relative;
	font-size: 16px;
	top: -34px;
}

h3 {
	color: #858585;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
}

.days {
	color: #858585;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
}

h6 {
	color: #b4b2b2;
	font-size: 10px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
}
.weather-forecast img {
	display: block;
	margin: 0 auto;
	height: 48px;
	width: 48px;
}
.weather-forecast-temperature {
	text-align: center;
	color: #858585;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 15px;
	margin-bottom: 15px;
}
h4 {
	color: #858585;
	font-weight: 100;
	line-height: 18px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.weather-days img {
	display: block;
	margin: 0 auto;
	height: 48px;
	width: 48px;
}
#btnC {
	background-color: rgb(120, 136, 243);
	color: #4a4a4a;
	border-radius: 4px;
}
#btnF {
	background-color: rgb(120, 136, 243);
	color: #4a4a4a;
	border-radius: 4px;
}

.btc-Search {
	background-color: rgb(120, 136, 243);
	color: #4a4a4a;
	border-radius: 4px;
}
#unita {
	vertical-align: top;
}
