body {
	font-family: Helvetica, sans-serif;
}

.my-app-wrapper {
	max-width: 600px;
	margin: 40px auto;
}

.my-app {
	max-width: 600px;
	margin: 40px auto;
	padding: 25px;
	border: 2px solid #888888;
	border-radius: 5px;
	margin-bottom: 10px;
	background: rgb(238, 174, 202);
	background: linear-gradient(
		147deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(238, 240, 242, 1) 100%
	);
}
h1 {
	color: #858585;
	font-size: 24px;
	font-weight: 100;
	line-height: 28px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;

	margin: 0;
	padding: 0;

	color: #858585;
	font-size: 16px;
	font-weight: 100;
	line-height: 18px;
	text-transform: capitalize;
}

li:first-letter {
	text-transform: capitalize;
}

.weather-temp img {
	margin-right: 5px;
	height: 64px;
	width: 64px;
}
.weather-temp strong {
	color: #333333;
	font-size: 64px;
	font-weight: 400;
	line-height: 1;
}
.weather-temp .units {
	position: relative;
	font-size: 16px;
	top: -34px;
}

h3 {
	color: #858585;
	font-size: 14px;
	font-weight: 100;
	line-height: 18px;
	text-align: center;
}
.weather-forecast img {
	display: block;
	margin: 0 auto;
	height: 48px;
	width: 48px;
}
.weather-forecast-temperature {
	text-align: center;
	color: rgb(135, 135, 135);
	font-size: 13px;
	font-weight: 400;
	height: auto;
	line-height: 15px;
	white-space: nowrap;
}
